body, html{
    max-width:800px;
}
button {
    width: 100px;
    margin-top: 20px;
}
#button-wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    max-width:150px;
}

input{
    width:100px;
    margin-top: 20px;
}
#game-container{
    position:relative;
    left: 25%;
}

#maze-container{
    display:flex;
    flex-wrap:wrap;
    position:absolute;
    top:0;
    left:0;
}

#player-container{
    z-index:100;
    position:absolute;
    top:0;
    left:0;
}

.sq {
    background-color:white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin:none;
    transition: background-color 200ms;
}

.active {
    background-color:hotpink;
}

.seen {
    background-color:pink;
}

.top{
    border-top: 2px solid black
}
.bottom{
    border-bottom: 2px solid black
}
.left{
    border-left: 2px solid black
}
.right{
    border-right: 2px solid black
}

.player{
    background-color:rgba(0, 128, 0, 0.534);
    position:absolute;
    z-index:1000;
    transition: all 100ms ease-in-out;

}

.goal{
    background-color:rgba(255, 0, 0, 0.507);
}