body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    margin-top: 20px;
}

#maze-container{
    margin:auto;
    display:flex;
    flex-wrap:wrap;

position:relative;
}

.sq {
    background-color:white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin:none;
}

.active {
    background-color:hotpink;
}

.seen {
    background-color:pink;
}

.top{
    border-top: 2px solid black
}
.bottom{
    border-bottom: 2px solid black
}
.left{
    border-left: 2px solid black
}
.right{
    border-right: 2px solid black
}

.player{
    background-color:rgba(0, 128, 0, 0.534);
    position: absolute;

}
.goal{
    background-color:rgba(255, 0, 0, 0.507);
}